.model-videos{
  margin: 50px 0;

}
.model-video{
  height: calc(45vw*9/16);
  width: 45vw;
  /* margin-top: 62px; */
}
.videos{
  display: flex;
  justify-content: space-around;
}
.post-video{
  width: 45vw;
}

.block-video{
  margin: 50px 0;
}

.form_text_area{
  width: 100%;
  height: 150px;
}

.field{
  font-size: 20px;
  padding-bottom: 5px;
}