<h1>Judges#show</h1>
<p>Find me in app/views/judges/show.html.erb</p>
    <% if @judge.post.judge_correct == @judge.id %>
    <% render partial: "shared/correct" %>  
    <%else%>
    <% render partial: "shared/incorrect" %>
    <%end%>

    皆の意見
    <% @judges.each do |judge|%>
      <%= judge.comment %>
    <%end%>