footer{
  height: 170px;
  width: 100wx;
  background-color: black;
}
.footer-content-head{
  color: white;
  font-size: 30px;
  padding: 10px 0 0 10px;
}
.lists{
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  color:white;
}
.nippon-link{
  text-decoration: none;
  color:white;
}

.nippon-link:hover {
  text-decoration: underline;;
}
.kendo-ippon{
  color: white;
  text-align: right;
  padding-right: 10px;
}
