* {
  box-sizing: border-box;
}

.top-page-header {
  /* position: absolute; */
  left: 0;
  top: 0;
  /* height:200px; */
  width: 100vw;
  /* padding: 2vh 15vw; */
  display: flex;
  justify-content:space-between;
  background-color: black;
}

.search-bar-contents {
  height: 100%;
  /* display: flex; */
  /* justify-content: left; */
  /* align-items: left; */
  /* width: 100%; */
  margin: auto;

}

.ippon-icon {
  /* height: 100%; */
  width: calc(100vw - 300px);
}

.nav {
  height: 100%;

}

.lists-right {
  min-width: 200px;
  writing-mode: vertical-rl;
  
}


.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}



.lists-right {
  list-style: none;
  justify-content: space-between;
  align-items: flex-end;
}
.user_link{
  text-decoration: none;
  font-size: 20px;
  margin: auto,auto;
  color:white;
}

.logout {
  text-decoration: none;
  font-size: 20px;
  color:white;
  padding: 0,30px;

}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  font-size: 20px;
  color:white;
}

.sign-up {
  text-decoration: none;
  font-size: 20px;
  color:white;
}
