* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: black;
}

.search-bar-contents {
  /* height: 95%; */
  margin: auto 10px;

}

.ippon-icon {
  width: calc(100vw - 400px);
  max-height: 150px;
  max-width: 566px;
  min-height: 50px;
  min-width: 188px;

}

.nav {
  height: 150px;
  margin: 0 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lists-right{
  writing-mode: vertical-rl;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;
}

.lesson-container{
  list-style: none;
  flex-direction: column-reverse;
}

.list-top,.lesson-card{
  display: block;
  padding: 10px 5px;
  margin: 3px 10px;
  border-radius:3px;
  background-color: #CC9933;
  color:black;

}
.user_link{
  text-decoration: none;
  font-size: 20px;
  margin: auto;
  padding: 5px;

}

.logout {
  text-decoration: none;
  font-size: 20px;
  margin: auto 5px;
}

.login {
  text-decoration: none;
  font-size: 20px;
}

.sign-up {
  text-decoration: none;
  font-size: 20px;
}
