<%# /下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>Kendo-Ipponについて</h2>
      <ul>
        <li><%= link_to '全日本剣道連盟', "#", class: "footer-link" %></li>
        <li><%= link_to '大日本武徳会', "#", class: "footer-link" %></li>
        <li><%= link_to '剣道八段', "#", class: "footer-link" %></li>
        <li><%= link_to '剣道します、勉強します、良い行いをします', "#", class: "footer-link" %></li>
      </ul>
    </div>
  <p>© Kendo-Ippon-Training 2020</p>
</div>
