<div class="card">
  <div class="card__body">
    <%= link_to skill.youtube.name, skill_path(skill), class: :card__title %>
  </div>
  <%= link_to (video_tag rails_blob_path(skill.video) ,size: "640x360" , loop: true, autoplay: true, muted: true), skill_path(skill)%>
</div>