<!DOCTYPE html>
<html>
  <div class="kpt">
      <table class="element__table">
        <tbody>
          <tr>
            <th colspan="2" class="element__table__top">一本になる要素</th>
          </tr>
          <tr>
            <th class="element__table__col1">気勢</th>
            <td class="element__table__col2">気合は入っているか、声は出ているか</td>
          </tr>
          <tr>
            <th class="element__table__col1">姿勢</th>
            <td class="element__table__col2">前傾姿勢でないか、左足の引きつけ、体が右に流れていないか</td>
          </tr>
          <tr>
            <th class="element__table__col1">竹刀の打突部・刃筋 </th>
            <td class="element__table__col2">物打を中心とした刃部か、弦の反対側で打突しているか</td>
          </tr>
          <tr>
            <th class="element__table__col1">打突部位</th>
            <td class="element__table__col2">面、小手、胴、突き垂れ</td>
          </tr>
          <tr>
            <th class="element__table__col1">残心</th>
            <td class="element__table__col2">打ちっぱなしではないか</td>
          </tr>
          <tr>
            <th class="element__table__col1">機会</th>
            <td class="element__table__col2">相手が出ようとしたところ、相手が打ち終わったところ、居付いたところ</td>
          </tr>
          <tr>
            <th class="element__table__col1">冴え</th>
            <td class="element__table__col2">打突、足捌きの速さ</td>
          </tr>
          <tr>
            <th class="element__table__col1">打突力</th>
            <td class="element__table__col2">掠るのではなく捉えているか</td>
          </tr>
          <tr>
            <th class="element__table__col1">中心</th>
            <td class="element__table__col2">横から打っていないか、真ん中を割っているか</td>
          </tr>
          <tr>
            <th class="element__table__col1">着装</th>
            <td class="element__table__col2">面タオルがはみ出ていないか、紐が解けていないか、袴が短すぎないか</td>
          </tr>
        </tbody>
      </table>
  </div>
</html>