<!DOCTYPE html>
<html>
  <div id="get_video_id" skill_id=<%= @skill.youtube.url_id %>></div>
  <div id="get_video_start" start_time=<%= @skill.youtube.start %>></div>
  <div class="videos">
    <div class="block-video"> 
      <% if @skill.video.attached? %>
        <p><%=@skill.user.nickname%>さん</p>
        <%= video_tag rails_blob_path(@skill.video) , loop: true, autoplay: true, muted: true ,class: "post-video"%>
      <%end %>
    </div>
    <div class="model-videos">
      <p>お手本</p>
      <div id="player" class="model-video"></div>
    </div>
  </div>

<script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        const video = document.getElementById("get_video_id");
        const skillId = video.getAttribute("skill_id");
        // const startTime = document.getElementById("get_video_start");
        // const start = startTime.getAttribute("start_time");
        // console.log(startTime);
        // console.log(start);
        player = new YT.Player('player', {
          // startSeconds: start/1000,
          // endSeconds:100,
          videoId:  skillId,
          events: {
            'onReady': onPlayerReady,
            //ビデオ再生する準備ができたら起動する関数
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
        setInterval(function(){
        //5000 msごとにseekToでstartのいちに戻る
        const startTime = document.getElementById("get_video_start");
        const start = startTime.getAttribute("start_time");
        console.log(event.target.seekTo(start));
        console.log(start);
        event.target.seekTo(start);
        },6000);
      }

</script>
</html>