<%= render 'shared/error_messages', model: @compare %>
<%= render "technique/model" %>
<div class="skill-show-bottom">
   <%= render "technique/element" %>
   <%= render "shared/form2" %>
</div>
<script>
// window.onbeforeunload = function(e) {
//   console.log('beforeunload');
//   return 'window onbeforeunload';
// };
//ログアウトと剣道連盟のサイトへ移動を許してしまっているので警告で対処する。結合テストでうまく行かないため削除しておく

var elements = document.getElementsByName("link");
//フッターのname: "link"が読み込まれない
elements.forEach(element => {
   element.addEventListener("click", function(e){
    // リンクがクリックされたときの処理
    e.preventDefault();  // 画面遷移を無効化
}, false);
});
//ログアウトはページがないからかされてしまう
</script>