
.skill-top{
  text-align:center;
  margin-top: 20px;
  font-size: 40px;
}

.scroll{
  width: 100%;
  overflow-y: scroll;
  /* border: 1px solid black; */
  height: 500px;
  
}
.comment-area{
  margin: 10px 0;

}

.comment-form{
  border: none;
  outline: none;
  border-bottom: 1px solid #333333;
  margin: 10px 0 10px 10px;
}
.skill-show-bottom{
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.skill-edit-btn,.skill-destroy-btn{
  text-decoration: none;
  font-size: 20px;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  flex-direction: column;
  width: calc(100vw / 3);
  height: 50px;
  margin: 50px auto;
  position: relative;
}

.skill-edit-btn,.skill-destroy-btn:hover{
  box-shadow: 0 3px 6px 0 #333333;
  position: relative;
  top: -2px;
  cursor: pointer;
}
.skill-edit-btn,.skill-destroy-btn:active{
  box-shadow: none;
  position: relative;
  top: 2px;
}

.skill-show-block{
  margin: 20px 0;

}


.element__table__col1 {
  width: 10vw;
  padding: 5px;
  border: 1px solid #192f60;
  font-size: 14px;
  background-color: #274a78  ;
  color: white;
  text-align:center;

}
.element__table__col2 {
  width: 40vw;
  padding: 5px;
  border: 1px solid #192f60;
  font-size: 14px;
}

.element__table{
  display: flex;
  justify-content: space-around;
  width: 45vw;
  
}

.element__table__top{
  width: 10vw;
  padding: 5px;
  border: 1px solid #000000;
  font-size: 20px;
  background-color: #0f2943  ;
  color: white;
  text-align:center;
}

.kpt_table {
  width: 45vw;
  
}

p.kpt1{
  border: 1px solid #000000;
  padding: 5px;
  font-size: 20px;
  background-color: #0f2943  ;
  color: white;
}

.kpt2{
  border: 1px solid #000000;
  font-size: 15px;
  padding: 5px;
  background-color: #274a78  ;
  color: white;
  white-space: pre-wrap;
}

.kpt3{
  border: 1px solid #000000;
  padding: 5px;
  white-space: pre-wrap;
}

.armor{
  width: 45vw;
  padding-top: 20px;
}

.armor_link{
  width: 45vw;
  font-size: 16px;
  display: block;
  text-align: center;
  padding-top: 5px;
}

.armor_link:hover{
  font-weight: bold;
  background-color: black;
  color: white;
  cursor: pointer;
}
