<div class= "skill">
  <%= link_to "クイズを投稿", new_post_path,  class: "link-skill" %>
</div>

  <div class='skill-contents'>
      <% @posts.each do |post| %>
          <div class='skill-info'>
            <div class='skill-video'>
              <% if post.video.attached? %>
                <%= link_to (video_tag rails_blob_path(post.video) ,class: "video"), post_path(post.id)%>
              <%else%>
                <%= link_to (image_tag "#{post.gif_url}/raw" ,class: "video"), post_path(post.id)%>
              <%end%>
              <div class='post-price'>
                <%= post.difficulity.name %>
              </div>
            </div>
          </div>
      <%end%>
  </div>
